/* CSS Document */
*{ margin:0; padding:0; }
a {text-decoration:none;}
html{ height:100%; }
body{ font:14px "微软雅黑"; height:100%; min-height:100%; }
ul,li{ list-style:none; }
.left{ float:left; }
.right{ float:right; }
.clearfix{ clear:both;}
div.outCont{ height:100%; background:#ededed; position:relative; overflow:hidden; }
header,aside,footer,section,article,figure,nav,menu{ display:block; }
input,button,textarea{-webkit-appearance: none; padding:0;margin:0; border:none; background:none; border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
/*************每个块*************/

/********第一屏*********/
body {background-image:url("../images/notic_bg.jpg"); background-repeat:no-repeat; background-position:center 0; background-size:cover;background-color:#fff;}
.all-screen{ position:relative; width:100%;height:100%;}
.no_top {width:295px;position:absolute;top:8px;left:50%;margin-left:-147px;z-index:5;}
.no_topcon {width:100%;overflow:hidden;float:left;}
.no_topcon li {width:295px;float:left;}
.no_data {width:132px;margin:0 auto;}
.no_data img {width:100%;}
.no_tianqi {width:218px;height:20px;overflow:hidden;text-align:left;position:relative;top:-10px;}
.no_richeng {width:100%;margin:0 auto;color:#5b5b5b;font-size:12px;line-height:20px;padding-bottom:5px;text-align:center;height:187px;}
.no_richeng h6 {font-size:15px;width:100%;text-align:center;font-weight:normal;padding:10px 0;}
.no_fotnews {width:100%;-background:url(../images/foot_Bg.png) repeat-x;background-color:#fff;}
.foot_tit {height:21px;border-bottom:1px solid #747474;position:relative;}
.foot_tit span {position:absolute;top:9px;background-color:#fff;left:50%;font-size:16px;color:#010101;width:79px;margin-left:-40px;text-align:center;}
.foot_news {overflow:hidden;padding-top:23px;}
.foot_img {float:left;width:90px;height:59px;}
.foot_img a {float:left;width:100%;height:100%;}
.foot_img a img{float:left;width:100%;height:100%;}
.foot_con {margin-left:103px;}
.foot_con h6 {font-size:16px;color:#313131;font-weight:normal;width:100%;line-height:16px;}
.foot_con h6 a {color:#313131;}
.foot_con p {font-size:11px;color:#7c7c7c;font-weight:normal;line-height:13px;padding-top:5px;width:100%;}
.no_leftbtn {position:absolute;left:0;top:60px;width:11px;height:20px;}
.no_rightbtn {position:absolute;right:0;top:60px;width:11px;height:20px;}
.no_leftbtn  img, .no_rightbtn  img {width:100%;}
.no_box {width:100%;overflow:hidden;}
.no_gborder {width:100%;overflow:hidden;}
.no_diposi {width:100%;-height:100%;height:120px;-background:url(../images/foot_Bg.png) repeat-x;background-color:#fff;position:relative;top:337px;z-index:0;}


/*二级页*/
.guide_top {width:100%;padding-top:21px;}
.guide_top h6 {width:100%;color:#313131;font-size:18px;font-weight:normal;text-align:center;}
.guide_ico {width:100%;position:relative;height:130px;margin-top:15px;background:url(../images/no_opc.png) repeat;}
.guide_imb {width:100%;background-color:#000;opacity:0.08;height:100%;}
.guide_horn {width:20px;position:absolute;top:-13px;left:50%;margin-left:-10px;}
.guide_horn img {width:100%;}
.guide_pic {width:100%;height:auto;position:relative;overflow:hidden;}
.guide_pic a {width:71px;float:left;margin-top:25px;}
.guide_pic a img {width:71px;}
.guide_pic a.picmid {position:absolute;top:0;left:50%;margin-left:-35px;}
.guide_pic a.picright {float:right;margin-right:36px;}
.picleft {margin-left:36px;}
.guide_foot {position:absolute;left:0px;bottom:0;width:100%;}
.guide_two {height:240px;}


