<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2014-09-30 21:00:00</key>
	<string>明日活动预告：
与会人员集结报到
具体时间请活动公告</string>
	<key>2014-10-01 21:00:00</key>
	<string>明日活动预告：
与会人员集结报到
英雄会环城大巡游
具体时间请留意活动公告</string>
	<key>2014-10-02 21:00:00</key>
	<string>明日活动预告：
2014 阿拉善英雄会开幕式
首届腾格里沙漠挑战赛 预赛
第九届T3沙漠挑战赛 预赛
FB-Max 乌兰牧骑歌舞晚会
具体时间请留意活动公告</string>
	<key>2014-10-03 21:00:00</key>
	<string>明日活动预告：
阿拉善沙漠发展论坛
e族沙漠婚礼
武林大会
帕杰罗英雄大会主题活动
中国牧马人大会主题活动
沙漠足球争霸赛/沙漠排球对抗赛/力大无穷拔河赛
赛手及领队会议
FB-Max会员晚会
具体时间请留意活动公告</string>
	<key>2014-10-04 21:00:00</key>
	<string>明日活动预告：
首届腾格里沙漠挑战赛决赛
武林大会
沙漠足球争霸赛/沙漠排球对抗赛/力大无穷拔河赛
赛手及领队会议
FB-Max慈善晚会
具体时间请留意活动公告</string>
	<key>2014-10-05 21:00:00</key>
	<string>明日活动预告：
T3沙漠挑战赛决赛
FB-Max颁奖/电音晚会
具体时间请留意活动公告</string>
	<key>2014-10-06 21:00:00</key>
	<string>明日活动预告：
阿拉善左旗-右旗秘境穿越之旅
英雄会大本营闭营
具体时间请留意活动公告</string>
</dict>
</plist>
